Source: libtemplate-plugin-sortnatural-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libsort-naturally-perl,
                     libtemplate-plugin-vmethods-perl,
                     perl
Maintainer: Alexander Wirt <formorer@debian.org>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Template-Plugin-SortNatural/

Package: libtemplate-plugin-sortnatural-perl
Architecture: all
Depends: libsort-naturally-perl,
         libtemplate-plugin-vmethods-perl,
         perl,
         ${misc:Depends},
         ${perl:Depends}
Description: Sort::Naturally for Template Toolkit
 sort lexically, but sort numeral parts numerically
